div.gallery{
    margin: 5px;
    border:1px solid  #ccc;
    float:left;
    width:180px;
}
div.gallery:hover{
    border: 1px solid #777;
}
div.gallery img{
    width: 100%;
    height: auto;
}
div.desc{
    padding: 15px;
    text-align:center ;
}
.sprite{
    background: url("Image/houses\ \(5\).png")no-repeat;
}
.shadows{
    width:500px;
    height:500px;
    display:inline-block;
    background-position:-500px -500px;
}
.engineers{
    width:500px;
    height:500px;
    display:inline-block;
    background-position: 0px 0px;
}
a[href="https://shkolladigjitale.com/"]{
    color:rgb(255, 102, 0);
}
p[class*="ds"]{
    background-color:gray ;
    color: rgb(255, 255, 255);
    padding:20px;
}
div[id~="ds"]{
    background-color: green;
    color:white;
    padding:20px
}
img[title^="blue"]{
    border: 2px solid blue
}