ul{
     list-style-type: dick;
     padding: 15px;
     margin-left: 20px;
     background-color: aqua;
     border: 2 px solid gray;
}

ol{
   list-style-type: dick;
    padding: 15%;
     margin-top: 10px;
     font-size: 20px;
}
table{
    border-collapse:collapse;
}
td,th{
    border: 1px solid #eee;
    padding: 15px;
}

tbody tr:nth-child(odd){
  background-color: red;
}

tbody tr:nth-child(even){
  background-color:blue;
}
div{
    overflow: scroll;
    background-color: aqua;
    width: 200px;
    height: 200px;
}

table tr:nth-child(odd){
  background-color: red;
}

table tr:nth-child(even){
  background-color:blue;
}
div{
    overflow: scroll;
    background-color: aqua;
    width: 200px;
    height: 200px;
}



