div#static{
  position:static;
  border: 3px solid rosybrown;
  width: 250px;
  height:250px;
  padding:20px;
}

div#relative{
  position:relative;
  border: 3px solid rosybrown;
  width: 250px;
  height:250px;
  padding:20px;
  left: 200px;
  right: 200px;
}