article p{
    background-color: blue;
    color: white;
    padding: 20px;
}


article > p {
    background: yellow;
}


article ~ p{
      background-color: purple;
    color: rgb(255, 255, 255);
    padding: 20px;
}
article + p{
    background: orange;
}

:first-child{
    background-color:rgba(0, 0, 0, 0.863);
    color:antiquewhite;
}

input:in-range{
    border: 3px solid rgb(0, 92, 128);
}

input:out-of-range{
    border:3 px solid red;
}
input:required{
    background-color: #9ee5f0;
}
input:focus{
    background-color:yellow
}

span:first-of-type{
    background-color: aqua;
    color: white;
    padding: 10 px;
}

input:invalid{
    border: 2px solid red;
}

input:valid{
    border: 2px solid green;
}
 input{
    padding: 8px;
    margin:10px;
 }

p::first-line{
    color: blue;
}

p::first-letter{
    color: red;
    font-size: 30 px;
}

/*
.b:before{
content: "";
}

.n::after{
    content: "";
}
*/


::selection{
    background: yellow;
    color: black;
}

.box{
    background-color:orange;
    padding:20px;
    margin-top:20 px;
    opacity:0.5;
}
