*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#ffffff;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    background:#079ca1;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
    color: white;
}

.logo img{
    width:100px;
    height:100px;
    border-radius:50%;
}

.navbar ul{
    list-style:none;
    display:flex;
    gap:25px;
}

.navbar a{
    text-decoration:none;
    color:rgb(255, 255, 255);
}

.navbar a:hover{
    color:#0c158f;
}

.about{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:50px;
    padding:80px 50px;
    
}

.about-text{
    max-width:600px;
}

.about-text h1{
    color:#000000;
    font-size:45px;
    margin-bottom:20px;
}

.about-text p{
    margin-bottom:15px;
    line-height:1.8;
}

.about-image img{
    width:450px;
    border-radius:15px;
    box-shadow:white;
    transition:0.4s;
}

.about-image img:hover{
    transform:scale(1.05);
}




footer{
    background:#000000;
    color:white;
    text-align:center;
    padding:30px;
    margin-top:50px;
}

@media(max-width:768px){

    .navbar{
        flex-direction:column;
        gap:15px;
    }

    .navbar ul{
        flex-direction:column;
        text-align:center;
    }

    .about{
        flex-direction:column;
        text-align:center;
    }

    .about-image img{
        width:300px;
    }

}