*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f5f7fb;
}

/* NAVBAR */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    background:#001f5c;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
    color:white;
}

.logo img{
    width:100PX;
    height:100px;
    border-radius:50%;
}

.navbar ul{
    display:flex;
    list-style:none;
    gap:25px;
}

.navbar a{
    text-decoration:none;
    color:white;
    transition:0.3s;
}

.navbar a:hover{
    color:#4da6ff;
}

/* HERO */

.hero{
    display:flex;
    justify-content:space-around;
    align-items:center;
    min-height:85vh;
    padding:50px;
}

.hero-text{
    max-width:550px;
}

.hero-text h1{
    font-size:55px;
    color:#001f5c;
    margin-bottom:20px;
}

.hero-text p{
    font-size:20px;
    margin-bottom:30px;
}

.btn{
    text-decoration:none;
    background:#005eff;
    color:white;
    padding:14px 30px;
    border-radius:8px;
    transition:0.3s;
}

.btn:hover{
    background:#003cb3;
}

.hero-image img{
    width:450px;
    max-width:100%;
    animation:float 3s infinite ease-in-out;
}

@keyframes float{

    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-15px);
    }

    100%{
        transform:translateY(0);
    }

}

/* FEATURES */

.features{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
    padding:60px 20px;
}

.card{
    width:250px;
    background:white;
    padding:25px;
    text-align:center;
    border-radius:15px;
    box-shadow:0 0 15px rgba(0,0,0,0.1);
    transition:0.4s;
}

.card:hover{
    transform:translateY(-10px);
}

/* COURSES */

.courses{
    text-align:center;
    padding:60px 20px;
}

.courses h2{
    color:#001f5c;
    margin-bottom:40px;
}

.course-container{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

.course-card{
    width:320px;
    background:white;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 0 15px rgba(0,0,0,0.1);
    transition:0.4s;
}

.course-card:hover{
    transform:scale(1.05);
}

.course-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.course-card h3{
    margin:15px 0;
}

.course-card p{
    padding:0 15px 20px;
}

/* TABLE */

.schedule{
    padding:60px 20px;
    text-align:center;
}

table{
    width:80%;
    margin:auto;
    border-collapse:collapse;
    background:white;
}

th{
    background:#001f5c;
    color:white;
}

th,td{
    border:1px solid #ddd;
    padding:15px;
}

/* FOOTER */

footer{
    background:#001f5c;
    color:white;
    text-align:center;
    padding:30px;
    margin-top:50px;
}



