
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f5f7fa;
}

/* HEADER */

header{
    background:#001845;
    padding:20px 60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    color:white;
    font-size:26px;
    font-weight:bold;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

.btn-header{
    background:#2563eb;
    color:white;
    text-decoration:none;
    padding:10px 20px;
    border-radius:8px;
}

/* HERO SECTION */

.hero{
    height:600px;
    background-image:url("school.jpg");
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    padding-left:100px;
}

.hero-text{
    background:rgba(255,255,255,0.9);
    padding:35px;
    border-radius:15px;
    width:500px;
}

.hero-text h1{
    font-size:50px;
    margin-bottom:15px;
}

.hero-text span{
    color:#2563eb;
}

.hero-text p{
    margin-bottom:20px;
    line-height:1.6;
}

.btn{
    background:#2563eb;
    color:white;
    text-decoration:none;
    padding:12px 25px;
    border-radius:8px;
}

/* FEATURES */

.features{
    display:flex;
    justify-content:center;
    gap:25px;
    padding:60px;
}

.feature{
    background:white;
    width:280px;
    padding:25px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

/* COURSES */

.courses{
    padding:60px;
    text-align:center;
}

.courses h2{
    margin-bottom:40px;
    color:#001845;
}

.course-container{
    display:flex;
    justify-content:center;
    gap:30px;
}

.course{
    width:300px;
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    transition:0.3s;
}

.course:hover{
    transform:translateY(-10px);
}

.course img{
    width:120px;
    height:120px;
    object-fit:contain;
}

.course h3{
    margin:15px 0;
}

/* FOOTER */

footer{
    background:#001845;
    color:white;
    text-align:center;
    padding:40px;
    margin-top:50px;
}

footer p{
    margin-top:10px;
}